body {
  height: 400px;
  width: 350px;
  background-color: indianred;
}

.header {
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 6px 0;
  margin: -8px;
  background-color: whitesmoke;
}

#time {
  text-align: center;
  font-size: 50px;
  margin: 10px;
  font-weight: normal;
  color: whitesmoke;
}

#btn-container {
  display: flex;
  justify-content: space-evenly;
}

#btn-container > button {
  width: 100px;
  color: indianred;
  font-weight: normal;
  border: none;
  outline: none;
  padding: 6px 12px;
  cursor: pointer;
  background-color: whitesmoke;
}

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.task-input {
  border: none;
  outline: none;
  width: 250px;
  margin: 5px;
  padding: 5px 10px;
  background-color: whitesmoke;
}

.task-delete {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  padding: 5px 8px;
  color: indianred;
  background-color: whitesmoke;
}
